<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Truong Son Ha</title>
</head>

<body>
    <h1>Hello World with Truong Son Ha view engine</h1>
    <h2>
        Message: <%= message %>
    </h2>
</body>

</html>